<!DOCTYPE html>
<html>
  <head>
      <style>
        .email-wrapper {
          font-family: 'Avenir';
          color: #010343;
          padding-bottom: 50px;
        }
        .info-wrapper {
          padding: 20px;
        }
        h2 {
          font-size: 28px;
          margin: 5px;
        }
        h3 {
          font-size: 24px;
          margin: 5px;
        }
        h4 {
          font-size: 16px;
          margin: 5px;
        }
        p {
          margin: 5px;
          font-size: 14px; 
        }
        .header {

          display: flex;
          align-items: flex-end;
          justify-content: center;
        }
        .title {
          color: blue;
          font-size: 28px;
          text-align: center;
          color: white;
          background-color: #FFB55E;
          padding: 80px 0px 0px 20px;
          width: 100%;
        }
        button {
          margin-top: 20px;
          text-align: center;
          font-size: 14px;
          padding: 7px 30px;
          background-color: #EF4829;
          color: white;
          border: none;
          border-radius: 30px;
          font-weight: 600;
        }
        .accept-link, .accept-link:hover, .accept-link:active, .accept-link:visited {
          text-decoration: none;
          color: white;
        }
        button:hover {
          background-color: #C4391F;
        }
      </style>
  </head>
  <body>
    <div class="email-wrapper">
      <h1 class="title">Doorstep</h1>
      <div class="info-wrapper">
        <h4>You've been added to the community, {{community.name}}!</h4>
        <h4>Who's accepted you</h4>
        <p>{{owner.fName}} {{owner.lName}}</p>
        <h4>Say thanks</h4>
        <p>{{owner.email}}</p>
        <button><a class="accept-link" href={{link}}>Explore Marketplace Now</a></button>
      </div>
    </div>
  </body>
</html>